/* General Styles */
.container {
    width: 100%;
    padding: 20px;
    background-color: #f0f4f8;
    color: #333;
    font-family: 'Arial', sans-serif;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #0a74da;
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 35px;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.table th {
    background-color: #d8e6f3;
    color: #333;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.approveButton {
    background-color: #0a74da;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.approveButton:hover {
    background-color: #0758a3;
}

.filterButton {
    background-color: #0a74da;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.filterButton:hover {
    background-color: #0758a3;
}

/* Responsive Design */

/* Up to 768px */
@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    .table th, .table td {
        padding: 8px 10px;
        font-size: 14px;
    }
}

/* Up to 480px */
@media (max-width: 768px) {
    h2 {
        font-size: 18px;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        /* Add overflow auto to handle any overflow issues */
        overflow: auto;
    }

    .table thead {
        display: none;
    }

    .table tbody, .table tr {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .table td {
        display: block;
        text-align: left;
        padding: 10px;
        border: 1px solid #ccc;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px; /* Adjust font size for readability */
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 40%;
        padding: 10px;
        background-color: #f0f4f8;
        font-weight: bold;
        text-align: left;
        top: 0;
        bottom: 0;
        white-space: nowrap;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
    }

    .table td {
        padding-left: 50%;
        text-align: left;
        border: none;
        position: relative;
    }

    /* Hide h5 tags on larger screens */
    .table td h5 {
        display: none;
    }

    /* Show h5 tags on small screens */
    .table td h5 {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }
}









