
body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aqua;
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative;
  margin: 0;
  padding-bottom: 60px; /* Adjust this based on the height of .homep to prevent overlap */
  overflow-x: auto; /* Prevent horizontal scrolling if unnecessary */
}



